# Build directories
build/
target/
all.tgz

# IDEs
.classpath
.project
.settings/
.vscode/

# Gradle
.gradle/
bin/

# sbt
.bloop/
.bsp/
.metals/
project/*
!project/plugins.sbt
.scalafmt.conf

dependency-reduced-pom.xml